@import url("reset.css");

body{ background:#f5f5f5; position: relative;}

#wrapper{width: 100%;height: 100%; overflow: hidden; /position: relative;}

/*top BEGIN*/
#top{width: 100%; height: 954px; background:url(../images/top_bg.jpg) center center no-repeat ; margin: auto;position: relative;}
.header_block{width: 100%;height: 80px; margin: auto;padding: 0;position: absolute;z-index: 100;background: #FFF;}
.logo_block{width: 760px;height: 60px;margin: 10px auto 0 auto;padding:0 20px 0 20px;}
.command_logo {width: 136px;height: 60px; display: block;float: left;background:url(../images/command_logo.png) no-repeat;}
.menu{width:60px;height:60px;display: block;float: right;background:url(../images/menu.png) no-repeat top;}
.menu:hover{background:url(../images/menu.png) no-repeat bottom;}
.fb{
	width:60px;
	height:60px;
	display: block;
	float: right;
	margin-right: 20px;
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
	background:url(../images/share_fb.png) no-repeat top;
	}
.fb:hover{background:url(../images/share_fb.png) no-repeat bottom;}
.slogan_block{width: 800px;height: 954px; margin: auto;padding: 0; position:relative;}
.pic{position: absolute;top: 142px;left: 6px;}
.slogan{position: absolute;top: 90px;left: 38px;}
.flower{position: absolute;bottom: 119px;right: 11px;}
.go_login {
	display: block;
	width: 420px;
	height: 77px;
	background:url(../images/login.png) no-repeat top;
	position: absolute;
	bottom: 38px;
	right: 190px;

	}

.go_login:hover{
	background:url(../images/login.png) no-repeat center -77px;}
/*top END*/

/*content BEGIN*/
#content{
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #e83e27 url(../images/content_bg.png) repeat;
	border-top: 4px solid #fff;
	padding-bottom: 30px;
}

.rule, .form{width: 720px;height: auto;margin: auto;overflow: hidden;position: relative;}
.rule img ,.form img {border: 0;display: block;}
.form_in{
	width: 720px;
	height: auto;
	margin: auto;
	overflow: hidden;
	background: url(../images/form_in_bg.jpg) repeat-y;
}
.form_number, .form_name, .form_mail, .form_phone, .form_captcha {
	width: 86%;
	height: 64px;
	margin: auto;
	border: solid 2px #c1c1c1;
	display: block;
	font-family: Arial, "微軟正黑體";
	font-size: 30px;
	color: #999;
	text-align: center;
}
.number_list li{margin-bottom: 20px;}
.num_btn_block{width: 570px;height: 70px;margin: auto;}
.add_btn{width: 260px;height: 70px;display: block;float: left; background: url(../images/add_btn.png) no-repeat top ;}
.add_btn:hover{background: url(../images/add_btn.png) no-repeat bottom ;}
.rewrite_btn{width: 260px;height: 70px;display: block;float: right; background: url(../images/rewrite.png) no-repeat top ;}
.rewrite_btn:hover{background: url(../images/rewrite.png) no-repeat bottom ;}
.send_btn{width: 260px;height: 70px;display: block;margin: 30px auto auto auto; background: url(../images/send_btn.png) no-repeat top ;}
.send_btn:hover{background: url(../images/send_btn.png) no-repeat bottom ;}
.captcha_in {width: 50%;height: auto;margin: 20px auto auto auto;overflow: hidden;}
.captcha_img{width: 300px;height: 100px;background: #e0bf34;float: left;}
.reload{
	width: 50px;
	height: 50px;
	display: block;
	background: url(../images/reload.png) no-repeat;
	float: right;
	margin-top: 25px
	}
.agree_block{width: 86%;height: 40px;margin: 20px auto auto auto}
.agree_check{
	width: 40px;
	height: 40px;
	display: block;
	border: solid 2px #c1c1c1;
	background: #fff;
	float: left;
	margin: 0;
	padding: 0;
}
.agree_text{
	width: 568px;
	height: 40px;
	margin-left: 10px;
	font-family: Arial, "微軟正黑體";
	font-size: 27px;
	font-weight: bold;
	color: #e83e27;
	line-height: 40px;
	float: left;
}
.agree_text a{color: #e83e27;}

.go_top{
	width: 60px;
	height: 60px;
	display: block;
	position: absolute;
	right: 20px;
    bottom: 20px;
	background: url(../images/gotop_btn.png) no-repeat top;
}
.go_top:hover{background: url(../images/gotop_btn.png) no-repeat bottom;}
/*content END*/



/*FOOTER BEGIN*/
#footer{height: 42px;width: 100%;background: #fff;padding: 18px 0 0 0;}
.copyright {width: 800px;height: auto;margin: auto;overflow: hidden;font-family: "微軟正黑體"; font-size: 24px; color: #e83e27;text-align: center;}
/*FOOTER END*/
#jSplash { 
    margin: auto;
    height: 259px;
    width: 480px;
    background: url(../images/j_slogan.png);
    }

/*menu BEGIN*/

.menu_pop { 
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000;
	top: 0;
	display: none;
	background: url(../images/pop_bg.png) repeat;
}
.menu_block{
	width: 800px;
	height: 346px;
	position: relative;
	background: #e83e27;
	margin: auto;
	padding-top: 70px;
	/*display:none;*/；
	-webkit-border-bottom-right-radius: 30px;
	-webkit-border-bottom-left-radius: 30px;
	-moz-border-radius-bottomright: 30px;
	-moz-border-radius-bottomleft: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}
.menu_list{
	list-style-type: none; 
	padding: 0; 
	margin: 0 auto 0 auto;
	width: 720px;
	height: auto;
	overflow: hidden;
}

.menu_list li a{display: block;}

.m01{width: 720px;height: 74px;background: url(../images/m01.png)no-repeat;}

.m02{width: 720px;height: 74px;background: url(../images/m02.png)no-repeat;}

.m03{width: 720px;height: 74px;background: url(../images/m03.png)no-repeat;}

.m04{width: 720px;height: 74px;background: url(../images/m04.png)no-repeat;}
.menu_close a {
	background: url(../images/menu_close.png) no-repeat top;
	width: 60px;
	height: 60px;
	position: absolute;
	top:10px;
	right:20px;
	display: block;
}
.menu_close a:hover { background: url(../images/menu_close.png) no-repeat bottom;}

/*menu END*/

/*inapp BEGIN*/

.inapp_pop { 
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000;
	top: 0;
	display: none;
	background-image: url(../images/pop_bg.png);
}
.inapp_block {width: 700px;height: auto; margin: 5% auto auto auto; position: relative; /*display:none;*/}
.inapp_close { height: 50px;width: 100%;text-indent: -5000px;}
.inapp_close a { background: url(../images/close_btn.png) no-repeat 0 0; width: 50px;height: 50px; display: block;float: right;}
.inapp_close a:hover { background-position: 0 -50px;}
.inapp { width: 600px; height: 510px; margin: auto; background:url(../images/inapp.png) no-repeat; }

/*inapp END*/

/*sucsess BEGIN*/

.sucsess_pop { 
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000;
	top: 0;
	display: none;
	background-image: url(../images/pop_bg.png);
}
.sucsess_block {width: 700px;height: auto; margin: 5% auto auto auto; position: relative; /*display:none;*/}
.sucsess_close { height: 50px;width: 100%;text-indent: -5000px;}
.sucsess_close a { background: url(../images/close_btn.png) no-repeat 0 0; width: 50px;height: 50px; display: block;float: right;}
.sucsess_close a:hover { background-position: 0 -50px;}
.sucsess { width: 600px; height: 230px; margin: auto; background:url(../images/sucsess.png) no-repeat; }

/*sucsess END*/